body{
	font-family: Poppins,sans-serif;
	color: #333;
	background-image:url('portf10.jpg');
	background-repeat:no-repeat;
	background-attachment: fixed;
	height: 100vh;
	background-size: cover;
}
/*Style the header*/
header{
	background-image:url('portf7.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	color: #black;
	padding: 20px;

}
header h1{
	font-size: 36px;
	margin: 0;
	color: darkcyan;
}
header p{
	font-size: 18px;
	margin: 0;
}
nav ul{
	font-style: none;
	margin: 0;
	padding: 0;
}
nav li{
	display: inline-black;
	margin-right: 20px;
}
nav a{
	color: #fff;
	text-decoration: none;
}
/*style the selections*/
section{
	padding: 50px;
}
section h2{
	font-size: 30px;
	margin-top: 0;
	color: black;
}
section ul{
list-style: none;
margin-top: 0;
padding: 0;
display: flex;
flex-wrap: wrap;
}
section li{
	flex-basis: calc(50%-20px);
	margin-right: 40px;
	margin-bottom: 40px;
	background-color: #fff;
	box-shadow: 0 2px 6px rgba(0,0,0,0,1);
	padding: 20px;
}
section  img{
max-width: 100%;
}
Section  h3{
	font-size: 24px;
	margin-top:0;
}
section  p{
	font-size: 16px;
	margin-bottom: 0;
	color: black;
}
form{
	display: flex;
	flex-direction: column;
	color: #eee;
}
form label{
	font-size: 18px;
	margin-bottom: 10px;
	color: black;
}
form input, form textarea{
	font-size: 18px;
	padding: 10px;
	border: none;
	border-radius: 10px;
	margin-bottom: 20px;
}
form textarea{
	height: 200px;
}
form-bottom{
	font-size: 18px;
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px;
	cursor:pointer;
}
/*style the footer*/
footer{
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}
footer p{
	font-size: 18px;
	margin: 0;
	color: black;
}
footer a{
	color: #fff;
	text-decoration: none;
}
/*the response page*/  
@media screen and (max-width:600px){
	nav li{
	display: block;
	margin-bottom: 0;
}
section li{
	flex-basis: 100%;
	margin-right: 0;
}
}
form button {
	background-color: rgb(162, 18, 18);
	color: white;
	border: none;
	border-radius: 15px;
	height: 40px;
	width: 100px;
    padding-left: 200px;
	padding-right: 200px;
	cursor: pointer;
}
.send:hover {
	opacity: 0.9;
}
.send:active {
	opacity: 0.5;
}
form p{
	color: black;
}
section h1{
	color: rgb(18, 97, 176);
}
.view-button{
	background-color: rgb(198, 37, 37);
	color: white;
	border-radius: 6px;
	border: none;
	cursor: pointer;
}
.view-button:active {
	opacity: 0.4;
	background-color: rgb(193, 120, 10);
}
.view-button:hover {
	background-color: red(209, 88, 13);
	opacity: 0.8;
}
.image{
	width: 400px;
	height: 400px;
}
.face-button {
	background-color: rgb(14, 80, 233);
	color: white;
	border: none;
	border-radius: 6px;
	padding: 10px 10px;
	font-weight: bold;
	font-size: large;
	cursor: pointer;
}
.link-button {
	background-color: rgb(4, 147, 249);
	color: white;
	border: none;
	border-radius: 6px;
	padding: 10px 10px;
	font-weight: bold;
	font-size: large;
	cursor: pointer;
}
.git-button {
	background-color: rgb(91, 0, 227);
	color: white;
	border: none;
	border-radius: 6px;
	padding: 10px 10px;
	font-weight: bold;
	font-size: large;
	cursor: pointer;
}
.face-button:hover{
	opacity: 0.9;
}
.link-button:hover {
	opacity: 0.9;
}
.git-button:hover {
	opacity: 0.9;
}
.face-button:active {
	opacity: 0.5;
}
.link-button:hover {
	opacity: 0.5;
}
.git-button:hover {
	opacity: 0.5;
}